* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.container {
    text-align: center;
    font-weight: 700;
    font-size: 65px;
    background-image: url("./images/donation13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 781px;
}

ul {
    list-style: none;
    padding: 220px;
    color: #FFFFFF;
}

.data-a {
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
}

.data-b {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    padding: 20px;
}

.data-c {
    font-weight: 600;
    font-size: 18px;
    background: #FF5959;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 5px 10px;
    width: 180px;
    height: 50px;
}

.main {
    text-align: center;
    padding: 150px 0 50px 0;

}

.first-section {
    line-height: 54px;
    font-weight: 700;
    font-size: 25px;
}

.title-one {
    font-weight: 11700;
    font-size: 45px;
    line-height: 54px;
}

.para-1 {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    padding: 35px 35px;
}

.tk {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.amount {
    background: #FAFAFA;
    border-radius: 5px;
    padding: 40px 30px;
    font-weight: 900;
    font-size: 20px;
    color: #707070;
}

.third-section {
    color: #B3B3B3;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.other {
    padding: 20px 10px 20 10px;
    border-bottom: 1px solid #DADADA;
}

.third-section,
.other {
    width: 650px;
    justify-content: center;
    align-items: center;
    margin: 24px auto;
    color: #8f8d8d;
    padding-top: 20px;
}

.title {
    padding: 80px 0 20px 0;
}

.title-fast {
    color: #707070;
    padding-bottom: 40px;
}

.box-contant {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19px;
    max-width: 1120px;
    margin: 10px auto;
    text-align: justify;
}

.box-a {
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    width: 400px;
    height: 380px;
    left: 157px;
    top: 1595px;
}

.box-b {
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
    width: 400px;
    height: 380px;
    left: 157px;
    top: 1595px;

}

.box-c {
    background: rgba(168, 111, 84, 0.1);
    border-radius: 5px;
    width: 400px;
    height: 380px;
    left: 157px;
    top: 1595px;

}

.img {
    margin: 80px 25px 20px 30px;
}

.caption {
    margin: 25px 25px 20px 30px;
    font-size: 24px;
}

.description {
    margin: 25px 25px 20px 30px;
    font-size: 16px;
    color: #707070;
}

.paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1220px;
    margin: 50px auto;
}

.content {
    text-align: justify;
}

.title-content {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 50px;
}

.title-para {
    color: #707070;
}

.button-2 {

    font-weight: 400;
    font-size: 20px;
    background: #FF5959;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 5px 10px;
    width: 220px;
    height: 50px;
    margin-top: 20px;
}

.one {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 50px;
}

.two {
    color: #707070;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF4D6;
    max-width: 900px;
    margin: 40px auto;
    padding: 80px 40px;

}

.sub-bar {
    padding: 5px 15px;
    background-color: #D9D9D9;
    border: 0;
    font-size: 20px;
    font-weight: 300;
}

.sub-button {
    padding: 5px 15px;
    background-color: #FF5959;
    color: #fff;
    font-weight: 300;
    border: 0;
    font-size: 20px;
}

.footer {
    width: 100%;
    background-color: #0B0D17;
    text-align: center;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.footer h1 {
    color: #FF5959;
    font-weight: 500;
    font-style: italic;
}

.footer h4 {
    color: #D9DBE1;
    margin-top: 50px;
    font-weight: 400;
}